
:root {
  --primary-color: #eed92c;
  --secondary-color: #24b1e4;
  --font-color: #054d6f;
  --bg-primary:#0B7758;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  height: 91vh;
  color: var(--secondary-color);
  padding: 2rem;
  background-image: url(./image/car.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.btn-secondary {
  background-color: var(--bg-primary) !important;
}

.garage {
  background-image: url('./image/About.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  

}

.footer {
  background-color: var(--bg-primary);
}